# Capstone Project - Cafes in New York

## Data

##### A description of the data: the data used to solve this problem is geolocation data collected from FourSquare. Data is a single dataframe, containing at least a location of the coffee. Explanation of the location data is a standard tuple (Latitude, Longitude). Some other metadata like name, address and so on is also collected, but let us discuss that they are not absolutely necessary for the analysis. Example of the data:

In [3]:
csv_file.head()

,Name,Address,Latitude,Longitude,City,Country
0,Special $1 Coffee & Doughnut Cart,Broadway,40.724252,-73.997709,New York,United States
1,West Side Coffee Shop,323 Church St,40.720174,-74.003915,New York,United States
2,Gregorys Coffee,649 Broadway,40.726889,-73.995828,New York,United States
3,Coffee Wagon,Hudson and King,40.728231,-74.005783,New York,United States
4,Peter & Jenny's Adorable Coffee Cart,NaN,40.725222,-73.996851,New York,United States

##### Data will be used in the following way: tourists will know the place of the coffee shop on the map and help themselves go to a place of their choosing.